body {
    padding : 0px;
    margin : 0px;
    box-sizing : border-box;
}
.scroll-bar {
    overflow-y : scroll;
    overflow-x : hidden;
    width : 100vw;
    height : 100vh;
    position : absolute;
    z-index : 1;
}

#heading {
    color : pink;
    position : relative;
    text-align : center;
    display : block;
    width : 100vw;
}
