body {
    padding : 0px;
    margin : 0px;
    box-sizing : border-box;
}

.scroll-bar {
    overflow-y : scroll;
    overflow-x : hidden;
    width : 100vw;
    height : 100vh;
    position : absolute;
    z-index : 1;
}

#img {
    width : 30px;
    height : 30px;
    text-align : center;
    display : block;
    margin-left : auto;
    margin-right : auto;
    margin-top : 20px;
}
#img:hover {
    cursor : pointer;
    transform : scale(1.1);
    transition : 0.4s;
}
