body {
    padding : 0px;
    margin : 0px;
    box-sizing : border-box;
    font-family: 'Oxygen', sans-serif;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.nav-container {
    display : flex;
    width : 60vw;
    position : absolute;
    z-index : 2;
    left : 50%;
    transform : translateX(-50%);
    top : 11%;
    height : 30px;
    align-items : center;
    justify-content: space-around;
    padding : 0px;
    a {   
        color: white; 
        text-decoration : none;  
    }
    
    a:active {
        color: white;
        text-decoration : none;
    }
    
    a[tabindex]:focus {
        color: white;
        outline: none;
    }
    .nav-item {
        display : flex;
        color : white;
        font-family: 'Space Mono', monospace;
        font-style : none;
    }
    .nav-item:hover {
        cursor: pointer;
        text-decoration : underline;
    }
}

.scroll-bar {
    scroll-behavior: smooth;
    padding : 10px 10px;
    overflow-y : scroll;
    overflow-x : hidden;
    opacity : 0.9;
    width : 60vw;
    margin-right : 20vw;
    margin-left : 20vw;
    display : block;
    height : 60vh;
    position : absolute;
    top : 50%;
    transform : translateY(-50%);
    z-index : 1;
    box-shadow : 80px 40px 100px, 0 0 2px, 0 0 20em #94f182, 0 0 0.5em #29d4e0, 0 0 0.1em #94f182, 80px 40px 100px #29d4e0;
    .about-me-heading {
        color : white;
        text-align : center;
    }
    .about-me-container {
        text-align : center;
        color : white;
        line-height : 2rem;
    }
    .skills-heading {
        color : white;
        text-align : center;
    }
    .skills-container {
        text-align : left;
    }
    .project-heading {
        color : white;
        text-align : center;
    }
    .project-container {
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    justify-content : center;
    }
    .project-card {
        box-shadow: 0px 0px 5px 2px white;
        height : 252px;
        a {
            text-decoration : none;
        }
        .video {
            width : 200px;
            height : 200px;
            object-fit : fill;
            padding : 0px;
            margin : 0px;
        }
    }
    .card-name {
        text-decoration : none;
        color : white;
        text-align : center;
    }
    .card-image {
        width : 250px;
        height : 200px;
    }
}
#img {
    position : absolute;
    width : 30px;
    height : 30px;
    text-align : center;
    left : 50%;
    top : 5%;
    transform : translateX(-50%);
    z-index : 1;
    }
    #img:hover {
        cursor : pointer;
        }
        
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(144, 240, 135);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 235, 235);
}

/* softprogress bar CSS */
.softprogress *:not([code-softprogress]) {
    margin: 5px 0;
    font-size: 16px;
  }
  .softprogress {
    width: 80%;
    max-width: 500px;
    padding: 15px;
    box-sizing: border-box;
    display : block;
    margin-right : auto;
    margin-left : auto;
    p {
        color : white;
    }
  }
  .softprogress [code-softprogress] {
    height: 25px;
    box-shadow: 0 0 1px 1px rgba(0, 20, 0, 0.35) inset;
    border-radius: 15px;
    margin: 5px 0 10px 0;
    overflow: hidden;
    background-color: #ddd;
  }
  [code-softprogress]::after {
    content: "";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(40, 155, 204), rgb(144, 240, 135));
    width: 0;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    border-radius: 15px;
    padding: 0 3px;
    transition: 3s;
  }
  [code-softprogress].run-softprogress::after {
    content: attr(code-softprogress) "% ";
    width: var(--run-softprogress);
    color : black;
    font-weight : bold;
    font-size : 20px;
  }
  /* End softprogress bar CSS */




